.content {
  padding-top: 80px;
}

.card {
  margin: 15px !important;
}

.top-text {
  margin: 5%;
}

.post-img {
  width: 100% !important;
  margin-bottom: 1em;
}

p {
  font-weight: 400;
}

a:hover {
  text-decoration: none !important;
}

.bg-back {
  background-image: linear-gradient(45deg, #4facfe 0%, #3fc35f 100%);
}

body {
  font-weight: 400;
}

.subtitle {
  color: rgb(65, 65, 65);
}

@media (max-width: 875px) {
  .content {
    padding-top: 0;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.2s
}

.page-enter, .page-leave-active {
  opacity: 0
}

body {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

::-webkit-scrollbar {
  width: 15px;
}

/*スクロールバーのレール*/

::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #eee;
}

/*スクロールバーのつまみ*/

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background:  linear-gradient(45deg, #479ae4 0%, #38af55 100%);
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}