.content {
  padding-top: 80px;
}

.card {
  margin: 15px !important;
}

.top-text {
  margin: 5%;
}

.post-img {
  width: 100% !important;
}

a:hover {
  text-decoration: none !important;
}

.bg-back {
  background-image: linear-gradient(45deg, #4facfe 0%, #3fc35f 100%);
}

body {
  font-weight: 400;
}

.subtitle {
  color: rgb(65, 65, 65);
}

@media (max-width: 875px) {
  .content {
    padding-top: 0;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.2s
}

.page-enter, .page-leave-active {
  opacity: 0
}

body {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}